
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #000000;
    transition: right 0.3s ease;
    z-index: 100; 
    overflow-y: auto;
    padding: 50px;
    text-align: right;
  }
  
  .sidebar.open {
    right: 0; /* Slide in from the right when open */
  }

  
/* Existing styles for .sidebar and .close-button */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
 
  }
  
  .menu-item {
    opacity: 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.197);
    margin: 10px;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .menu-item.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Add this keyframes animation */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  